Source: sipwise-cleanup-tools
Section: utils
Priority: extra
Maintainer: Michael Prokop <mprokop@sipwise.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.8.3
Homepage: http://sipwise.com/
Vcs-svn: https://dev.sipwise.com/svn/voip-tools/cleanup-tools
Vcs-Browser: https://dev.sipwise.com/svn/voip-tools/cleanup-tools

Package: sipwise-cleanup-tools
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}
Description: TODO
 TODO
