Source: ngcp-cleanup-tools
Section: utils
Priority: extra
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends:
 debhelper (>= 9~),
 libmodule-build-perl,
Standards-Version: 3.9.8
Homepage: https://www.sipwise.com/
Vcs-Browser: https://github.com/sipwise/cleanup-tools.git
Vcs-Git: https://github.com/sipwise/cleanup-tools.git

Package: ngcp-cleanup-tools-ce
Architecture: all
Depends:
 libconfig-any-perl,
 libdatetime-perl,
 libdbi-perl,
 ${misc:Depends},
 ${perl:Depends},
Conflicts:
 ngcp-cleanup-tools (<= 0.2.1),
 ngcp-cleanup-tools-pro,
Provides:
 ngcp-cleanup-tools,
Replaces:
 ngcp-cleanup-tools,
Description: NGCP provider:CE Database entry and binlog cleanup
 Erase and dump database entries and MySQL binlogs.

Package: ngcp-cleanup-tools-pro
Architecture: all
Depends:
 libconfig-any-perl,
 libdatetime-perl,
 libdbi-perl,
 libredis-perl,
 ${misc:Depends},
 ${perl:Depends},
Conflicts:
 ngcp-cleanup-tools (<= 0.2.1),
 ngcp-cleanup-tools-ce,
Provides:
 ngcp-cleanup-tools,
Replaces:
 ngcp-cleanup-tools,
Description: NGCP provider:PRO Database entry and binlog cleanup
 Erase and dump database entries and MySQL binlogs.
