#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

# TT#72908 Change permissions of /ngcp-data/backup/cdr to 0700
# We want backups to only be readable by the root user, when possible.
override_dh_auto_fixperms:
	dh_auto_fixperms
	chmod -v 0700 ngcp-data/backup/cdr
